/data
/dti_1pr_lli_tm05fflvt_16x16_t1bw6x_m_hc.ds
/dumper.txt
/ex3.pl
/ex3.pl:Zone.Identifier
/new
/newdata
/newdata2
/newtest.pl
/newtest.xlsx
/q (1).pl
/q.pl
/smalltest
/test,pl
/test.pl
/tsmc05ff_1prhc (1).xlsx
/tsmc05ff_1prhc.tar.gz
/tsmc12ffc_dphc.tar.gz